body{
font-family:Poppins;
margin:0;
background:#e6efe6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#9caf88;
color:white;
}

.navbar a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(30,41,59,0.85), rgba(30,41,59,0.85)),
    url('https://images.unsplash.com/photo-1581578731548-c64695cc6952');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 60px;
    color: white;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    background: #0ea5e9;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.card{
background:#f4f8f4;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.center{text-align:center}

.grid{
display:flex;
gap:10px;
}

.box{
flex:1;
padding:20px;
background:#dbe8db;
border-radius:10px;
text-align:center;
}

.timeline{
display:flex;
gap:10px;
}

footer{
text-align:center;
padding:20px;
background:#9caf88;
color:white;
}
